<h1>Exibir todas as tarefas</h1>

<ul class="task-list">
    {{#each tasks}}
    <li>
        {{#if done }}
        <a href="/" class="title done">{{title}}</a>
        {{else }}
        <a href="/" class="title">{{title}}</a>
        {{/if }}
        <div class="actions">
            <a href="/tasks/change-status/{{ id }}"><i class="bi bi-check2"></i></a>
            <a href="/tasks/edit/{{ id }}"><i class="bi bi-pencil-square"></i></a>
            <a href="/tasks/delete/{{ id }}"><i class="bi bi-x-lg"></i></a>
        </div>
    </li>
    {{/each}}
</ul>